<form class="{{cssClass}} flexcol" autocomplete="off">
  {{log "!!!!!!!!!!!!!!!!!!"}}
  {{log this}}
  <div id="sheet">

    {{!-- Sheet Header --}}
    <header class="sheet-header">

      <div id="personal">
        <div id="portrait">
          <img class="portrait" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
        </div>
        <div id="actorname">
          <input class="charname" name="name" type="text" value="{{actor.name}}" placeholder="Name" />

          <div id="posture">
            <div class="header">
              <label class="resource-label" title="{{data.posture.name}}">{{data.posture.name}}</label>
            </div>
            <div class="center">
              <select name="data.posture.value" class="header">
                {{#select data.posture.value}}
                <option value="Standing">Standing</option>
                <option value="Crouching">Crouching</option>
                <option value="Kneeling">Kneeling</option>
                <option value="Crawling">Crawling</option>
                <option value="Sitting">Sitting</option>
                <option value="ProneF">Prone (F)</option>
                <option value="ProneB">Prone (B)</option>
                {{/select}}
              </select>
            </div>
          </div>

        </div>

        <div id="basicmove">
          <div class="basicmove title">
            <label class="cpmtitle resource-label" title="{{data.bm.name}}">{{data.bm.abbr}}</label>
          </div>
          <div class="basicmove">
            <label title="Step">Step:</label>
            <input type="text" name="data.bm.step" value="{{data.bm.step}}" data-dtype="String" />
          </div>
          <div class="basicmove">
            <label title="Quarter">Qtr:</label>
            <input type="text" name="data.bm.quarter" value="{{data.bm.quarter}}" data-dtype="String" />
          </div>
          <div class="basicmove">
            <label title="Half">Half:</label>
            <input type="text" name="data.bm.half" value="{{data.bm.half}}" data-dtype="String" />
          </div>
          <div class="basicmove">
            <label title="Move">BM:</label>
            <input type="text" name="data.bm.move" value="{{data.bm.move}}" data-dtype="String" />
          </div>
          <div class="basicmove">
            <label title="Sprint">Spr:</label>
            <input type="text" name="data.bm.sprint" value="{{data.bm.sprint}}" data-dtype="String" />
          </div>
        </div>

        <div id="tracked">
          {{#each data.tracked as |item|}}
          {{#if (and ../actor.data.useConditionalInjury (eq item.abbr "HP"))}}
          {{else}}
          <div id="trackedpool" title="{{item.name}}">
            <div class="header">
              <label class="resource-label">{{item.abbr}}</label>
            </div>
            <div class="header">
              <label class="resource-label">{{item.state}}</label>
            </div>
            <div class="content-plus-minus">
              <label class="cpmtitle">{{item.value}}</label>
              <div class="plus-minus">
                <span class="far fa-minus-square minus"><input type="hidden" name="{{item.abbr}}" value="-1" /></span>
                <span class="far fa-plus-square plus"><input type="hidden" name="{{item.abbr}}" value="1" /></span>
              </div>
            </div>
            <div class="content-plus-minus">
              <label class="cpmtitle">{{item.max}}</label>
              <div class="plus-minus">
                <span class="far fa-minus-square minus"><input type="hidden" name="{{item.abbr}}max"
                    value="-1" /></span>
                <span class="far fa-plus-square plus"><input type="hidden" name="{{item.abbr}}max" value="1" /></span>
              </div>
            </div>
          </div>
          {{/if}}
          {{/each}}
          {{#if ./actor.data.useConditionalInjury}}
          <div id="conditionalinjury" title="Conditional Injury">
            <div class="header">
              <label class="resource-label">{{data.tracked.hp.abbr}}: {{data.tracked.hp.max}}</label>
            </div>
            <div class="header">
              <label class="resource-label">{{data.rt.abbr}}: {{data.rt.value}}</label>
            </div>
            <div class="content-plus-minus">
              <label class="header">{{data.is.abbr}}: {{data.is.value}}</label>
              <div class="plus-minus">
                <span class="far fa-minus-square minus"><input type="hidden" name="{{data.is.abbr}}"
                    value="-1" /></span>
                <span class="far fa-plus-square plus"><input type="hidden" name="{{data.is.abbr}}" value="1" /></span>
              </div>
            </div>
            <div class="content-plus-minus">
              <label class="header">{{data.dlth.abbr}}: {{data.dlth.value}}</label>
              <div class="plus-minus">
                <span class="far fa-minus-square minus"><input type="hidden" name="{{data.dlth.abbr}}"
                    value="-1" /></span>
                <span class="far fa-plus-square plus"><input type="hidden" name="{{data.dlth.abbr}}" value="1" /></span>
              </div>
            </div>
          </div>
          {{/if}}

          <div id="basicspeed">
            <div class="header">
              <label class="resource-label" title="{{data.bs.name}}">{{data.bs.abbr}}</label>
            </div>
            <div class="center">
              <input type="text" name="data.bs.value" value="{{data.bs.value}}" data-dtype="Number" />
            </div>
          </div>

        </div>

      </div>

    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav id="tabselect" class="sheet-tabs tabs" data-group="primary">
      <div class="header">
        <a class="item" data-tab="stats">Main</a>
      </div>
      <div class="header">
        <a class="item" data-tab="combat">Combat</a>
      </div>
      <div class="header">
        <a class="item" data-tab="checks">Checks</a>
      </div>
      <div class="header">
        <a class="item" data-tab="skills">Skills</a>
      </div>
      <div class="header">
        <a class="item" data-tab="spells">Spells</a>
      </div>
      <div class="header">
        <a class="item" data-tab="specific">SpecMods</a>
      </div>
      <div class="header">
        <a class="item" data-tab="hitlocations">HitLocs</a>
      </div>
      <div class="header">
        <a class="item" data-tab="equipment">Gear</a>
      </div>
      <div class="header">
        <a class="item" data-tab="pools">Pools</a>
      </div>
      <div class="header">
        <a class="item" data-tab="traits">Traits</a>
      </div>
      <div class="header">
        <a class="item" data-tab="items">Items</a>
      </div>
      <div class="header">
        <a class="item" data-tab="scripts">Scripts</a>
      </div>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

      {{!-- Stats Tab --}}
      <div class="tab stats" data-tab="stats" data-group="primary">
        {{!-- Biography Tab --}}
        <div id="biography">
          <p>Notes</p>
          <textarea rows="13" name="data.biography">{{{data.biography}}}</textarea>
        </div>
      </div>

      {{!-- Combat Tab --}}
      <div class="tab combat" data-tab="combat" data-group="primary">

        {{!-- MODIFIERS --}}
        <div id="modifiers">
          <!-- The Global Modifier applies to every roll and then is reset -->
          <div class="global-modifier minus-content-plus">
            <span class="far fa-minus-square minus"><input type="hidden" name="gmod" value="-1" /></span>
            <label for="data.gmod.value" name="data.gmod.value" class="counter">{{data.gmod.value}}</label>
            <span class="far fa-plus-square plus"><input type="hidden" name="gmod" value="1" /></span>
            <label>{{data.gmod.name}}</label>
          </div>
          {{#each data.modifiers as |item|}}
          {{#if item.data.defence}}
          <div class="modifier {{#if item.data.inEffect}}inEffect{{/if}}" data-item-id="{{item._id}}"
            title="{{item.data.notes}}">
            <input class="iteminput" type="checkbox" {{checked item.data.inEffect}} data-dtype="Boolean"
              data-name="data.inEffect" />
            <label>[{{numberFormat item.data.value decimals=0 sign=true}}] {{item.name}}</label>
          </div>
          {{/if}}
          {{/each}}
        </div>

        {{!-- DEFENCES --}}
        <div id="defences">
          {{#each data.defences as |item|}}
          {{#if (eq item.type "Defence")}}
          <div class="defence" data-item-id="{{item._id}}" title="{{item.data.notes}}">
            <label class="rollable" data-name="{{item.name}}" data-level="{{item.data.value}}"
              data-label="Attempts to &lt;b&gt;{{item.name}}&lt;/b&gt;." data-type="defence">
              [{{item.data.value}}] {{item.name}}
            </label>
          </div>
          {{/if}}
          {{/each}}
        </div>

        {{!-- ATTACK MODIFIERS --}}
        <div id="modifiers">
          {{#each data.modifiers as |item|}}
          {{#if item.data.attack}}
          <div class="modifier {{#if item.data.inEffect}}inEffect{{/if}}" data-item-id="{{item._id}}"
            title="{{item.data.notes}}">
            <input class="iteminput" type="checkbox" {{checked item.data.inEffect}} data-dtype="Boolean"
              data-name="data.inEffect" />
            <label>[{{numberFormat item.data.value decimals=0 sign=true}}] {{item.name}}</label>
          </div>
          {{/if}}
          {{/each}}
        </div>
        {{!-- DAMAGE MODIFIERS --}}
        <div id="modifiers">
          {{#each data.modifiers as |item|}}
          {{#if (and (eq item.type "Modifier") item.data.damage)}}
          <div class="modifier {{#if item.data.inEffect}}inEffect{{/if}}" data-item-id="{{item._id}}"
            title="{{item.data.notes}}">
            <input class="iteminput" type="checkbox" {{checked item.data.inEffect}} data-dtype="Boolean"
              data-name="data.inEffect" />
            <label>[{{numberFormat item.data.value decimals=0 sign=true}}] {{item.name}}</label>
          </div>
          {{/if}}
          {{/each}}
        </div>

        {{!-- MELEE ATTACKS --}}
        <div id="attacks">
          {{#each data.meleeattacks as |item|}}
          {{#if (eq item.type "Melee-Attack")}}
          <div class="attack" data-item-id="{{item._id}}" title="{{item.data.notes}}">
            <label class="rollable" data-name="{{item.name}}" data-level="{{item.data.value}}"
              data-label="Attacks with &lt;b&gt;{{item.name}}&lt;/b&gt;." data-type="attack">
              [{{item.data.value}}] {{item.name}}
            </label>
            <label class="rollable" data-name="{{item.name}}" data-roll="{{item.data.damage}}"
              data-label="Rolls &lt;b&gt;{{item.data.damageType}}&lt;/b&gt; ({{item.data.armourDiv}}) damage for &lt;b&gt;{{item.name}}&lt;/b&gt;."
              data-type="damage">
              {{item.data.damage}} {{item.data.damageType}}
            </label>
          </div>
          <div class="meleeattack">
            <label class="header">
              A-Div: {{item.data.armourDiv}}
            </label>
            <label class="header">
              Min-ST: {{item.data.minST}}
            </label>
            <label class="header">
              Wt: {{item.data.weight}}
            </label>
            <label class="header">
              Rch: {{item.data.reach}}
            </label>
          </div>
          {{/if}}
          {{/each}}
        </div>

        {{!-- RANGED ATTACKS --}}
        <div id="attacks">
          {{#each data.rangedattacks as |item|}}
          {{#if (eq item.type "Ranged-Attack")}}
          <div class="attack" data-item-id="{{item._id}}" title="{{item.data.notes}}">
            <label class="rollable" data-name="{{item.name}}" data-level="{{item.data.value}}"
              data-label="Attacks with &lt;b&gt;{{item.name}}&lt;/b&gt;." data-type="attack">
              [{{item.data.value}}] {{item.name}}
            </label>
            <label class="rollable" data-name="{{item.name}}" data-roll="{{item.data.damage}}"
              data-label="Rolls &lt;b&gt;{{item.data.damageType}}&lt;/b&gt; ({{item.data.armourDiv}}) damage for &lt;b&gt;{{item.name}}&lt;/b&gt;."
              data-type="damage">
              {{item.data.damage}} {{item.data.damageType}}
            </label>
          </div>
          <div class="rangedattack">
            <label class="header">
              A-Div: {{item.data.armourDiv}}
            </label>
            <label class="header">
              Min-ST: {{item.data.minST}}
            </label>
            <label class="header">
              Acc: {{item.data.accuracy}}
            </label>
            <label class="header">
              Rng: {{item.data.range}}
            </label>
            <label class="header">
              RoF: {{item.data.rof}}
            </label>
            <label class="header">
              Shots: {{item.data.shots}}
            </label>
            <label class="header">
              Blk: {{item.data.bulk}}
            </label>
            <label class="header">
              Rcl: {{item.data.recoil}}
            </label>
          </div>
          {{/if}}
          {{/each}}
        </div>
      </div>

      {{!-- Checks Tab --}}
      <div class="tab checks" data-tab="checks" data-group="primary">

        {{!-- SUCCESS MODIFIERS --}}
        <div id="modifiers">
          <!-- The Global Modifier applies to every roll and then is reset -->
          <div class="global-modifier minus-content-plus">
            <span class="far fa-minus-square minus"><input type="hidden" name="gmod" value="-1" /></span>
            <label for="data.gmod.value" name="data.gmod.value" class="counter">{{data.gmod.value}}</label>
            <span class="far fa-plus-square plus"><input type="hidden" name="gmod" value="1" /></span>
            <label>{{data.gmod.name}}</label>
          </div>
          {{#each data.modifiers as |item|}}
          {{#if item.data.success}}
          <div class="modifier {{#if item.data.inEffect}}inEffect{{/if}}" data-item-id="{{item._id}}"
            title="{{item.data.notes}}">
            <input class="iteminput" type="checkbox" {{checked item.data.inEffect}} data-dtype="Boolean"
              data-name="data.inEffect" />
            <label>[{{numberFormat item.data.value decimals=0 sign=true}}] {{item.name}}</label>
          </div>
          {{/if}}
          {{/each}}
        </div>

        {{!-- PRIMARY ATTRIBUTES --}}
        <div id="checks">
          {{#each ./actor.data.primaries as |item|}}
          <div class="check" data-item-id="{{item._id}}" title="{{item.data.notes}}">
            <label class="rollable" data-name="{{item.name}}" data-level="{{item.data.value}}"
              data-label="Makes a &lt;b&gt;{{item.name}}&lt;/b&gt; check." data-type="check">
              [{{item.data.value}}] {{item.name}}
            </label>
          </div>
          {{/each}}
        </div>

        {{!-- CHECKS --}}
        <div id="checks">
          {{#each data.checks as |item|}}
          {{#if (and (eq item.data.category "check") (ne item.name "Reaction"))}}
          <div class="check" data-item-id="{{item._id}}" title="{{item.data.notes}}">
            <label class="rollable" data-name="{{item.name}}" data-level="{{item.data.value}}"
              data-label="Makes a &lt;b&gt;{{item.name}}&lt;/b&gt; check." data-type="check">
              [{{item.data.value}}] {{item.name}}
            </label>
          </div>
          {{/if}}
          {{/each}}
        </div>

        {{!-- REACTION MODIFIERS --}}
        <div id="modifiers">
          {{#each data.modifiers as |item|}}
          {{#if item.data.reaction}}
          <div class="modifier {{#if item.data.inEffect}}inEffect{{/if}}" data-item-id="{{item._id}}"
            title="{{item.data.notes}}">
            <input class="iteminput" type="checkbox" {{checked item.data.inEffect}} data-dtype="Boolean"
              data-name="data.inEffect" />
            <label>[{{numberFormat item.data.value decimals=0 sign=true}}] {{item.name}}</label>
          </div>
          {{/if}}
          {{/each}}
        </div>

        {{!-- REACTION --}}
        <div id="checks">
          {{#each data.checks as |item|}}
          {{#if (eq item.name "Reaction")}}
          <div class="check" data-item-id="{{item._id}}" title="{{item.data.notes}}">
            <label class="rollable" data-name="{{item.name}}"
              data-label="Makes a &lt;b&gt;{{item.name}}&lt;/b&gt; check." data-type="reaction">
              {{item.name}} check
            </label>
          </div>
          {{/if}}
          {{/each}}
        </div>

      </div>

      {{!-- Skills Tab --}}
      <div class="tab skills" data-tab="skills" data-group="primary">

        {{!-- SUCCESS MODIFIERS --}}
        <div id="modifiers">
          <!-- The Global Modifier applies to every roll and then is reset -->
          <div class="global-modifier minus-content-plus">
            <span class="far fa-minus-square minus"><input type="hidden" name="gmod" value="-1" /></span>
            <label for="data.gmod.value" name="data.gmod.value" class="counter">{{data.gmod.value}}</label>
            <span class="far fa-plus-square plus"><input type="hidden" name="gmod" value="1" /></span>
            <label>{{data.gmod.name}}</label>
          </div>
          {{#each data.modifiers as |item|}}
          {{#if item.data.success}}
          <div class="modifier {{#if item.data.inEffect}}inEffect{{/if}}" data-item-id="{{item._id}}"
            title="{{item.data.notes}}">
            <input class="iteminput" type="checkbox" {{checked item.data.inEffect}} data-dtype="Boolean"
              data-name="data.inEffect" />
            <label>[{{numberFormat item.data.value decimals=0 sign=true}}] {{item.name}}</label>
          </div>
          {{/if}}
          {{/each}}
        </div>

        {{!-- SKILLS --}}
        <div id="skills">
          {{#each data.skills as |item|}}
          {{#if (eq item.data.category "skill")}}
          <div class="check" data-item-id="{{item._id}}" title="{{item.data.notes}}">
            <label class="rollable" data-name="{{item.name}}" data-level="{{item.data.value}}"
              data-label="Makes a &lt;b&gt;{{item.name}}&lt;/b&gt; check." data-type="check">
              [{{item.data.value}}] {{item.name}}
            </label>
          </div>
          {{/if}}
          {{/each}}
        </div>

        {{!-- TECHNIQUES --}}
        <div id="techniques">
          {{#each data.techniques as |item|}}
          {{#if (eq item.data.category "technique")}}
          <div class="check" data-item-id="{{item._id}}" title="{{item.data.notes}}">
            <label class="rollable" data-name="{{item.name}}" data-level="{{item.data.value}}"
              data-label="Makes a &lt;b&gt;{{item.name}}&lt;/b&gt; check." data-type="check">
              [{{item.data.value}}] {{item.name}}
            </label>
          </div>
          {{/if}}
          {{/each}}
        </div>
      </div>

      {{!-- Spells Tab --}}
      <div class="tab spells" data-tab="spells" data-group="primary">

        {{!-- SUCCESS MODIFIERS --}}
        <div id="modifiers">
          <!-- The Global Modifier applies to every roll and then is reset -->
          <div class="global-modifier minus-content-plus">
            <span class="far fa-minus-square minus"><input type="hidden" name="gmod" value="-1" /></span>
            <label for="data.gmod.value" name="data.gmod.value" class="counter">{{data.gmod.value}}</label>
            <span class="far fa-plus-square plus"><input type="hidden" name="gmod" value="1" /></span>
            <label>{{data.gmod.name}}</label>
          </div>
          {{#each data.modifiers as |item|}}
          {{#if item.data.success}}
          <div class="modifier {{#if item.data.inEffect}}inEffect{{/if}}" data-item-id="{{item._id}}"
            title="{{item.data.notes}}">
            <input class="iteminput" type="checkbox" {{checked item.data.inEffect}} data-dtype="Boolean"
              data-name="data.inEffect" />
            <label>[{{numberFormat item.data.value decimals=0 sign=true}}] {{item.name}}</label>
          </div>
          {{/if}}
          {{/each}}
        </div>

        {{!-- SPELLS --}}
        <div id="spells">
          {{#each data.spells as |item|}}
          {{#if (eq item.data.category "spell")}}
          <div class="check" data-item-id="{{item._id}}" title="{{item.data.notes}}">
            <label class="rollable" data-name="{{item.name}}" data-level="{{item.data.value}}"
              data-label="Makes a &lt;b&gt;{{item.name}}&lt;/b&gt; check." data-type="check">
              [{{item.data.value}}] {{item.name}}
            </label>
          </div>
          {{/if}}
          {{/each}}
        </div>

        {{!-- RITUAL MAGIC SPELLS --}}
        <div id="ritualmagicspells">
          {{#each data.ritualmagicspells as |item|}}
          {{#if (eq item.data.category "rms")}}
          <div class="check" data-item-id="{{item._id}}" title="{{item.data.notes}}">
            <label class="rollable" data-name="{{item.name}}" data-level="{{item.data.value}}"
              data-label="Makes a &lt;b&gt;{{item.name}}&lt;/b&gt; check." data-type="check">
              [{{item.data.value}}] {{item.name}}
            </label>
          </div>
          {{/if}}
          {{/each}}
        </div>
      </div>

      {{!-- Specific Modifiers Tab --}}
      <div class="tab specific" data-tab="specific" data-group="primary">

        {{!-- PRIMARY ATTRIBUTE MODIFIERS --}}
        <div id="specificmods">
          {{#each data.modifiers as |item|}}
          {{#if item.data.primary}}
          <div class="specificmod {{#if item.data.inEffect}}inEffect{{/if}}" data-item-id="{{item._id}}"
            title="{{item.data.notes}}">
            <input class="iteminput" type="checkbox" {{checked item.data.inEffect}} data-dtype="Boolean"
              data-name="data.inEffect" />
            <label>[{{numberFormat item.data.value decimals=0 sign=true}}] <b>{{item.name}}</b> -
              {{item.data.targets}}</label>
          </div>
          {{/if}}
          {{/each}}
        </div>

        {{!-- SPECIFIC MODIFIERS --}}
        <div id="specificmods">
          {{#each data.modifiers as |item|}}
          {{#if item.data.specific}}
          <div class="specificmod {{#if item.data.inEffect}}inEffect{{/if}}" data-item-id="{{item._id}}"
            title="{{item.data.notes}}">
            <input class="iteminput" type="checkbox" {{checked item.data.inEffect}} data-dtype="Boolean"
              data-name="data.inEffect" />
            <label>[{{numberFormat item.data.value decimals=0 sign=true}}] <b>{{item.name}}</b> -
              {{item.data.targets}}</label>
          </div>
          {{/if}}
          {{/each}}
        </div>
      </div>

      {{!-- Equipment Tab --}}
      <div class="tab equipment" data-tab="equipment" data-group="primary">

        {{!-- EQUIPMENT --}}
        <div id="equips">
          {{#each data.equipment as |item|}}
          {{#if (eq item.type "Equipment")}}
          <div class="equip" data-item-id="{{item._id}}" title="{{item.data.notes}}">
            <div class="equipleft">
              <div>
                <label class="title">{{item.name}}</label>
              </div>
              <div>
                Qty:{{item.data.quantity}}, Wt:{{item.data.weight}}lb, {{item.data.cost}}
              </div>
            </div>
            <label>{{item.data.notes}}</label>
          </div>
          {{/if}}
          {{/each}}
        </div>

      </div>

      {{!-- Pools Tab --}}
      <div class="tab pools" data-tab="pools" data-group="primary">

        {{!-- POOLS --}}
        <div id="equips">
          {{#each data.pools as |item|}}
          {{#if (eq item.type "Pool")}}
          <div class="equip {{#if item.data.inHeader}}inHeader{{/if}}" data-item-id="{{item._id}}">
            <div class="equipleft">
              <div class="pool" data-item-id="{{item._id}}">
                <input class="iteminput" type="checkbox" {{checked item.data.inHeader}} data-dtype="Boolean"
                  data-name="data.inHeader" />
                <label class="title">{{item.name}}</label>
              </div>
              <div>
                State:{{item.data.state}}, Min:{{item.data.min}}, Value:{{item.data.value}}, Max:{{item.data.max}}
              </div>
            </div>
            <label>{{item.data.notes}}</label>
          </div>
          {{/if}}
          {{/each}}
        </div>

      </div>

      {{!-- Hit Locations Tab --}}
      <div class="tab hitlocations" data-tab="hitlocations" data-group="primary">

        {{!-- HIT LOCATIONS --}}
        <div id="hitlocs">
          {{#each data.hitlocations as |item|}}
          {{#if (eq item.type "Hit-Location")}}
          <div class="hitloc" data-item-id="{{item._id}}" title="{{item.data.notes}}">
            <input class="iteminput" type="checkbox" {{checked item.data.crippled}} data-dtype="Boolean"
              data-name="data.crippled" />
            <label class="title" title="{{item.data.notes}}">{{item.name}}</label>
            <label>
              DR:{{item.data.damageResistance}},
              Pen:{{item.data.toHitPenalty}},
              Crip:{{item.data.toCripple}},
              Prim Roll:{{item.data.toHitRoll18}},
              Sec Roll:{{item.data.toHitRoll6}}
            </label>
          </div>
          {{/if}}
          {{/each}}
        </div>

      </div>

      {{!-- Traits Tab --}}
      <div class="tab traits" data-tab="traits" data-group="primary">

        {{!-- ADVANTAGES --}}
        <div id="traits">
          <p>Advantages</p>
          {{#each data.advantages as |item|}}
          {{#if (eq item.data.category "advantage")}}
          <div class="trait" data-item-id="{{item._id}}">
            <label class="title">{{item.name}}</label>
            <label>{{item.data.notes}}</label>
          </div>
          {{/if}}
          {{/each}}
        </div>

        {{!-- DISADVANTAGES --}}
        <div id="traits">
          <p>Disadvantages</p>
          {{#each data.disadvantages as |item|}}
          {{#if (eq item.data.category "disadvantage")}}
          <div class="trait" data-item-id="{{item._id}}">
            <label class="title">{{item.name}}</label>
            <label>{{item.data.notes}}</label>
          </div>
          {{/if}}
          {{/each}}
        </div>

        {{!-- PERKS --}}
        <div id="traits">
          <p>Perks</p>
          {{#each data.perks as |item|}}
          {{#if (eq item.data.category "perk")}}
          <div class="trait" data-item-id="{{item._id}}">
            <label class="title">{{item.name}}</label>
            <label>{{item.data.notes}}</label>
          </div>
          {{/if}}
          {{/each}}
        </div>

        {{!-- QUIRKS --}}
        <div id="traits">
          <p>Quirks</p>
          {{#each data.quirks as |item|}}
          {{#if (eq item.data.category "quirk")}}
          <div class="trait" data-item-id="{{item._id}}">
            <label class="title">{{item.name}}</label>
            <label>{{item.data.notes}}</label>
          </div>
          {{/if}}
          {{/each}}
        </div>

      </div>

      {{!-- Owned Items Tab --}}
      <div class="tab items" data-tab="items" data-group="primary">

        {{!-- ITEMS --}}
        <div id="gurpsitems"> Primary Attributes
          {{#each data.primaryattributes as |item|}}
          <div class="item gurpsitem" data-item-id="{{item._id}}">
            <i class="fas fa-anchor"></i>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <input class="iteminput" type="text" value="{{item.data.value}}" data-dtype="Number"
              data-name="data.value" />
            <input class="iteminput" type="text" value="{{item.name}}" data-dtype="String" data-name="name" />
            <input class="iteminput" type="text" value="{{item.data.notes}}" data-dtype="String"
              data-name="data.notes" />
          </div>
          {{/each}}
        </div>

        {{!-- ITEMS --}}
        <div id="gurpsitems"> Equipment
          {{#each data.equipment as |item|}}
          <div class="item gurpsitem" data-item-id="{{item._id}}">
            <i class="fas fa-anchor"></i>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <input class="iteminput" type="text" value="{{item.data.quantity}}" data-dtype="Number"
              data-name="data.quantity" />
            <input class="iteminput" type="text" value="{{item.name}}" data-dtype="String" data-name="name" />
            <input class="iteminput" type="text" value="{{item.data.notes}}" data-dtype="String"
              data-name="data.notes" />
          </div>
          {{/each}}
        </div>

        {{!-- ITEMS --}}
        <div id="gurpsitems"> Hit Locations
          {{#each data.hitlocations as |item|}}
          <div class="item gurpsitem" data-item-id="{{item._id}}">
            <i class="fas fa-anchor"></i>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <input class="iteminput" type="text" value="{{item.data.damageResistance}}" data-dtype="Number"
              data-name="data.damageResistance" />
            <input class="iteminput" type="text" value="{{item.name}}" data-dtype="String" data-name="name" />
            <input class="iteminput" type="text" value="{{item.data.notes}}" data-dtype="String"
              data-name="data.notes" />
          </div>
          {{/each}}
        </div>

        {{!-- ITEMS --}}
        <div id="gurpsitems"> Skills
          {{#each data.skills as |item|}}
          <div class="item gurpsitem" data-item-id="{{item._id}}">
            <i class="fas fa-anchor"></i>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <input class="iteminput" type="text" value="{{item.data.formula}}" data-dtype="Number"
              data-name="data.formula" />
            <input class="iteminput" type="text" value="{{item.name}}" data-dtype="String" data-name="name" />
            <input class="iteminput" type="text" value="{{item.data.notes}}" data-dtype="String"
              data-name="data.notes" />
          </div>
          {{/each}}
        </div>

        {{!-- ITEMS --}}
        <div id="gurpsitems"> Techniques
          {{#each data.techniques as |item|}}
          <div class="item gurpsitem" data-item-id="{{item._id}}">
            <i class="fas fa-anchor"></i>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <input class="iteminput" type="text" value="{{item.data.formula}}" data-dtype="Number"
              data-name="data.formula" />
            <input class="iteminput" type="text" value="{{item.name}}" data-dtype="String" data-name="name" />
            <input class="iteminput" type="text" value="{{item.data.notes}}" data-dtype="String"
              data-name="data.notes" />
          </div>
          {{/each}}
        </div>

        {{!-- ITEMS --}}
        <div id="gurpsitems"> Spells
          {{#each data.spells as |item|}}
          <div class="item gurpsitem" data-item-id="{{item._id}}">
            <i class="fas fa-anchor"></i>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <input class="iteminput" type="text" value="{{item.data.formula}}" data-dtype="Number"
              data-name="data.formula" />
            <input class="iteminput" type="text" value="{{item.name}}" data-dtype="String" data-name="name" />
            <input class="iteminput" type="text" value="{{item.data.notes}}" data-dtype="String"
              data-name="data.notes" />
          </div>
          {{/each}}
        </div>

        {{!-- ITEMS --}}
        <div id="gurpsitems"> Ritual Magic Spells
          {{#each data.ritualmagicspells as |item|}}
          <div class="item gurpsitem" data-item-id="{{item._id}}">
            <i class="fas fa-anchor"></i>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <input class="iteminput" type="text" value="{{item.data.formula}}" data-dtype="Number"
              data-name="data.formula" />
            <input class="iteminput" type="text" value="{{item.name}}" data-dtype="String" data-name="name" />
            <input class="iteminput" type="text" value="{{item.data.notes}}" data-dtype="String"
              data-name="data.notes" />
          </div>
          {{/each}}
        </div>

        {{!-- ITEMS --}}
        <div id="gurpsitems"> Checks
          {{#each data.checks as |item|}}
          <div class="item gurpsitem" data-item-id="{{item._id}}">
            <i class="fas fa-anchor"></i>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <input class="iteminput" type="text" value="{{item.data.formula}}" data-dtype="Number"
              data-name="data.formula" />
            <input class="iteminput" type="text" value="{{item.name}}" data-dtype="String" data-name="name" />
            <input class="iteminput" type="text" value="{{item.data.notes}}" data-dtype="String"
              data-name="data.notes" />
          </div>
          {{/each}}
        </div>

        {{!-- ITEMS --}}
        <div id="gurpsitems"> Advantages
          {{#each data.advantages as |item|}}
          <div class="item gurpsitem" data-item-id="{{item._id}}">
            <i class="fas fa-anchor"></i>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <label></label>
            <input class="iteminput" type="text" value="{{item.name}}" data-dtype="String" data-name="name" />
            <input class="iteminput" type="text" value="{{item.data.notes}}" data-dtype="String"
              data-name="data.notes" />
          </div>
          {{/each}}
        </div>

        {{!-- ITEMS --}}
        <div id="gurpsitems"> Disadvantages
          {{#each data.disadvantages as |item|}}
          <div class="item gurpsitem" data-item-id="{{item._id}}">
            <i class="fas fa-anchor"></i>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <label></label>
            <input class="iteminput" type="text" value="{{item.name}}" data-dtype="String" data-name="name" />
            <input class="iteminput" type="text" value="{{item.data.notes}}" data-dtype="String"
              data-name="data.notes" />
          </div>
          {{/each}}
        </div>

        {{!-- ITEMS --}}
        <div id="gurpsitems"> Perks
          {{#each data.perks as |item|}}
          <div class="item gurpsitem" data-item-id="{{item._id}}">
            <i class="fas fa-anchor"></i>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <label></label>
            <input class="iteminput" type="text" value="{{item.name}}" data-dtype="String" data-name="name" />
            <input class="iteminput" type="text" value="{{item.data.notes}}" data-dtype="String"
              data-name="data.notes" />
          </div>
          {{/each}}
        </div>

        {{!-- ITEMS --}}
        <div id="gurpsitems"> Quirks
          {{#each data.quirks as |item|}}
          <div class="item gurpsitem" data-item-id="{{item._id}}">
            <i class="fas fa-anchor"></i>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <label></label>
            <input class="iteminput" type="text" value="{{item.name}}" data-dtype="String" data-name="name" />
            <input class="iteminput" type="text" value="{{item.data.notes}}" data-dtype="String"
              data-name="data.notes" />
          </div>
          {{/each}}
        </div>

        {{!-- ITEMS --}}
        <div id="gurpsitems"> Melee Attacks
          {{#each data.meleeattacks as |item|}}
          <div class="item gurpsitem" data-item-id="{{item._id}}">
            <i class="fas fa-anchor"></i>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <input class="iteminput" type="text" value="{{item.data.formula}}" data-dtype="Number"
              data-name="data.formula" />
            <input class="iteminput" type="text" value="{{item.name}}" data-dtype="String" data-name="name" />
            <input class="iteminput" type="text" value="{{item.data.notes}}" data-dtype="String"
              data-name="data.notes" />
          </div>
          {{/each}}
        </div>

        {{!-- ITEMS --}}
        <div id="gurpsitems"> Ranged Attacks
          {{#each data.rangedattacks as |item|}}
          <div class="item gurpsitem" data-item-id="{{item._id}}">
            <i class="fas fa-anchor"></i>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <input class="iteminput" type="text" value="{{item.data.formula}}" data-dtype="Number"
              data-name="data.formula" />
            <input class="iteminput" type="text" value="{{item.name}}" data-dtype="String" data-name="name" />
            <input class="iteminput" type="text" value="{{item.data.notes}}" data-dtype="String"
              data-name="data.notes" />
          </div>
          {{/each}}
        </div>

        {{!-- ITEMS --}}
        <div id="gurpsitems"> Defences
          {{#each data.defences as |item|}}
          <div class="item gurpsitem" data-item-id="{{item._id}}">
            <i class="fas fa-anchor"></i>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <input class="iteminput" type="text" value="{{item.data.formula}}" data-dtype="Number"
              data-name="data.formula" />
            <input class="iteminput" type="text" value="{{item.name}}" data-dtype="String" data-name="name" />
            <input class="iteminput" type="text" value="{{item.data.notes}}" data-dtype="String"
              data-name="data.notes" />
          </div>
          {{/each}}
        </div>

        {{!-- ITEMS --}}
        <div id="gurpsitems"> Pools
          {{#each data.pools as |item|}}
          <div class="item gurpsitem" data-item-id="{{item._id}}">
            <i class="fas fa-anchor"></i>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            {{#if item.data.max}}
            <input class="iteminput" type="text" value="{{item.data.max}}" data-dtype="Number" data-name="data.max" />
            {{else}}
            <label></label>
            {{/if}}
            <input class="iteminput" type="text" value="{{item.name}}" data-dtype="String" data-name="name" />
            <input class="iteminput" type="text" value="{{item.data.notes}}" data-dtype="String"
              data-name="data.notes" />
          </div>
          {{/each}}
        </div>

        {{!-- ITEMS --}}
        <div id="gurpsitems"> Modifiers
          {{#each data.modifiers as |item|}}
          <div class="item gurpsitem" data-item-id="{{item._id}}">
            <i class="fas fa-anchor"></i>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <input class="iteminput" type="text" value="{{item.data.value}}" data-dtype="Number"
              data-name="data.value" />
            <input class="iteminput" type="text" value="{{item.name}}" data-dtype="String" data-name="name" />
            <input class="iteminput" type="text" value="{{item.data.notes}}" data-dtype="String"
              data-name="data.notes" />
          </div>
          {{/each}}
        </div>

        {{!-- ITEMS --}}
        <div id="gurpsitems"> Containers
          {{#each items as |item|}}
          {{#if (eq item.type "Container")}}
          <div class="item gurpsitem" data-item-id="{{item._id}}">
            <i class="fas fa-anchor"></i>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <label></label>
            <input class="iteminput" type="text" value="{{item.name}}" data-dtype="String" data-name="name" />
            <input class="iteminput" type="text" value="{{item.data.notes}}" data-dtype="String"
              data-name="data.notes" />
          </div>
          {{/if}}
          {{/each}}
        </div>
      </div>

      {{!-- Script Engine Tab --}}
      <div class="tab scripts" data-tab="scripts" data-group="primary">

        {{!-- Script Pane --}}
        <div id="gurpsitems">
          <div class="item-controls">
            <a class="item-control item-create" title="Script Processing">
              <i class="fas fa-plus"></i> Create Items from Array of JSON objects
            </a>
          </div>
          <textarea rows="24" name="data.itemscript">{{{data.itemscript}}}</textarea>
        </div>

      </div>
    </section>
  </div>
</form>